<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaoduo.sms.mapper.ReturnListMapper">

    <!--
        获取当天最大销售单号
    -->
    <select id="getTodayMaxReturnNumber" resultType="java.lang.String" >
        SELECT
          MAX(return_date)
        FROM
          t_return_list
        WHERE
          TO_DAYS(return_date) = TO_DAYS(NOW())
    </select>

</mapper>
































