<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaoduo.sms.mapper.SaleListMapper">

    <!--
        获取当天最大销售单号
    -->
    <select id="getTodayMaxSaleNumber" resultType="java.lang.String" >
        SELECT
          MAX(sale_number)
        FROM
          t_sale_list
        WHERE
          TO_DAYS(sale_number) = TO_DAYS(NOW())
    </select>

    <!--
        按天统计某个日期范围内的销售信息
    -->
    <select id="countSaleByDay" resultType="java.lang.Object" parameterType="java.lang.String" >
        SELECT
          SUM(t3.purchasing_price*t1.num) AS amountCost,
          SUM(t1.price*t1.num) AS amountSale,
          t2.sale_date AS saleDate
        FROM
          t_sale_list_goods t1
        LEFT JOIN t_sale_list t2 ON t1.sale_list_id=t2.id
        LEFT JOIN t_goods t3 ON t3.id=t1.goods_id
        WHERE
          t2.sale_date BETWEEN #{begin} AND #{end}
        GROUP BY
          t2.sale_date
    </select>

</mapper>




























