<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.xiaoduo.sms.mapper.SaleListGoodsMapper">

    <!--
       saleListGoodsMap集合
    -->
    <resultMap id="saleListGoodsMap" type="com.xiaoduo.sms.entity.SaleListGoods">
        <id column="id" property="id"></id>
        <result column="code" property="code"></result>
        <result column="model" property="model"></result>
        <result column="name" property="name"></result>
        <result column="num" property="num"></result>
        <result column="price" property="price"></result>
        <result column="total" property="total"></result>
        <result column="unit" property="unit"></result>
        <result column="sale_list_id" property="saleListId"></result>
        <result column="type_id" property="typeId"></result>
        <result column="goods_id" property="goodsId"></result>
    </resultMap>

    <!--
        根据销售单id查询所有销售单商品
    -->
    <select id="listBySaleListId" resultMap="saleListGoodsMap" parameterType="java.lang.String">
        SELECT
          id,
          code,
          model,
          name,
          num,
          price,
          total,
          unit,
          sale_list_id,
          type_id,
          goods_id
        FROM
          t_sale_list_goods
        WHERE
          sale_list_id=#{saleListId}
    </select>

    <!--
        删除指定销售单的所有商品
    -->
    <select id="deleteBySaleListId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        DELETE
        FROM
          t_sale_list_goods
        WHERE
          sale_list_id=#{saleListId}
    </select>

    <!--
        统计某个商品的销售总量
    -->
    <select id="getTotalByGoodsId" resultType="java.lang.Integer" parameterType="java.lang.Integer">
        SELECT
          SUM(num) as total
        FROM
          t_sale_list_goods
        WHERE
          goods_id=#{goodsId}
    </select>

</mapper>